@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
  --primary-bg-dkblu: #1F2937;
  --neutral-bg-wht: #FFFFFF;
  --accent-bg-gray: #E5E7EB;
  --primary-blu: #3882F6;
  --body-txt-blk: #1F2937;
  --body-txt-wht: #E5E7EB;
  --title-txt-wht: #F9FAF8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-bg-wht);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--body-txt-blk);
  font-size: 18px;
}

header, .hero, footer {
  background-color: var(--primary-bg-dkblu);
  color: var(--body-txt-wht);
}

header, .features, footer {
  text-align: center;
}

header, footer {
  padding: 1rem 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  width: 70%;
  margin: 0 auto;
}

.nav-logo {
  font-weight: 700;
  color: var(--title-txt-wht);
  font-size: 24px;
}

.nav-menu {
  display: flex;
  column-gap: 2rem;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 6rem 0;
  text-align: left;
}

.hero-txt {
  max-width: 45ch;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

h1 {
  font-weight: 900;
  color: var(--title-txt-wht);
  font-size: 48px;
}

button {
  width: 100px;
  height: 40px;
  background-color: var(--primary-blu);
  color: inherit;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

picture {
  width: 50%;
  height: 35vh;
  background-color: #6D747D;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

.features {
  width: 100%;
  padding: 3rem 0 6rem;
}

.features-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.feature {
  width: 175px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 0.5rem;
}

.feature-img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--primary-blu);
  border-radius: 12px;
}

figure {
  background-color: var(--accent-bg-gray);
  margin: 0 auto;
  padding: 6rem 9rem;
}

blockquote {
  margin: 0 auto;
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
}

figcaption {
  font-weight: 700;
  text-align: right;
  margin: 1rem auto 0 auto;
}

.CTA-wrapper {
  width: 100%;
  background-color: var(--primary-blu);
  color: var(--body-txt-wht);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 0;
  padding: 2rem 4rem;
}

.CTA button {
  border: 1px solid #FFFFFF;
}